<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799411540821-isb6fcqb9cnu80jkcr34q5d4i6fffqj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799411540821-isb6fcqb9cnu80jkcr34q5d4i6fffqj8</string>
	<key>API_KEY</key>
	<string>AIzaSyDV4t6_XbuVXmMuJEmQb4kGW9jSiuUXkn4</string>
	<key>GCM_SENDER_ID</key>
	<string>799411540821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenbatu.fashionStory</string>
	<key>PROJECT_ID</key>
	<string>fashionstory-e603a</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionstory-e603a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799411540821:ios:d043f22ef7c5ee7a99d5dc</string>
	<key>DATABASE_URL</key>
	<string>https://fashionstory-e603a.firebaseio.com</string>
</dict>
</plist>